@font-face {
    font-family: "Tinkoff Sans Bold";
    src: url("@/assets/fonts/TinkoffSans-Bold.ttf") format("truetype");
    font-style: normal;
  }
  @font-face {
    font-family: "Tinkoff Sans Medium";
    src: url('@/assets/fonts/TinkoffSans-Medium.ttf') format('truetype');
  }  
  @font-face {
    font-family: "Tinkoff Sans Regular";
    src: url('@/assets/fonts/TinkoffSans-Regular.ttf') format('truetype');
  }

@brown: #3B3342;
@black: #1f1f1f;
@gray:rgb(158, 158, 158);
@light_gray: rgb(220, 220, 220); //цвет подложки
@light_orange: #eb7069;
@dark_orange: #ee372d;
@light_green: #ace2d9;
@yellow:#FFDD2D;
@white: #fff;

  @font1: "Tinkoff Sans Bold";
  @font2: "Tinkoff Sans Medium";
  @font3: "Tinkoff Sans Regular";
    